---
import BaseLayout from './BaseLayout.astro'
const {
	frontmatter: { title, author, pubDate, image, tags }
} = Astro.props
---

<BaseLayout pageTitle={title}>
	<img src={image.url} alt={image.alt} width="300" />

	<p>Written by {author}</p>
	<p>Published on: {pubDate.slice(0, 10)}</p>
	<slot />
	<section class="tags">
		{
			tags.map((tag) => (
				<p class="tag">
					<a href={`/tags/${tag}`}>{tag}</a>
				</p>
			))
		}
	</section>
</BaseLayout>

<style>
	a {
		color: #00539f;
	}

	.tags {
		display: flex;
		flex-wrap: wrap;
	}

	.tag {
		margin: 0.25em;
		border: dotted 1px #a1a1a1;
		border-radius: 0.5em;
		padding: 0.5em 1em;
		font-size: 1.15em;
		background-color: #f8fcfd;
	}
</style>
